.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Bebas Neue', cursive
}

.note
{
    font-size: 15px;
    color:black;
}

body{
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

.div_speed{
    float: center;
}

.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}
#speed
{
    font-size: 23px;
    margin: 15px;
}

canvas {
    margin-top: 60px;
}

